# Xcode
#
## User settings
xcuserdata/
*.xcuserstate

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Replit
.replit
.breakpoints
replit.nix