modules = ["swift", "swift-5.7"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "SOAPJournal_Simple"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SOAPJournal_Simple"

[[workflows.workflow]]
name = "SOAPJournal_Simple"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run.sh"

[deployment]
run = ["sh", "-c", "swift run"]
